* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace , Vazirmatn;
    background-color: #282c33;
    color: white;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

button , input , textarea , select {
    font-family: "font code" , monospace , sans-serif;
}

ul {
    list-style-type: none;
    
}

@font-face {
    font-family: "font code";
    src: url("./assets/fonts/FiraCode-VariableFont_wght.ttf") format("truetype");
}

/* scrollbar stylr */

html {
    scrollbar-color: #C778DD #282c33;
}